# Classification

In [32]:
#Importing Libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt

# Data Preprocessing

In [2]:
df=pd.read_csv("C:\\Users\\prata\\Downloads\\Customer_Campaign.csv")#reading the data

In [3]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [4]:
df.isnull().sum()#checking Null values

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [5]:
df.drop(["day","month"],axis=1)#Dropping Day&Month Columns...

,age,job,marital,education,default,balance,housing,loan,contact,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,361,2,188,11,other,no

In [6]:
    df=pd.get_dummies(df,drop_first=True)#Converting Categorical Data into Numerical

In [7]:
df.head()

,age,balance,day,duration,campaign,pdays,previous,job_blue-collar,job_entrepreneur,job_housemaid,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_other,poutcome_success,poutcome_unknown,y_yes
0,58,2143,5,261,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
1,44,29,5,151,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
2,33,2,5,76,1,-1,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
3,47,1506,5,92,1,-1,0,1,0,0,...,0,0,1,0,0,0,0,0,1,0
4,33,1,5,198,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

# Independent Variable(x)

In [8]:
X=df.drop("y_yes",axis=1) #Dropping OUTPUT

In [9]:
X

,age,balance,day,duration,campaign,pdays,previous,job_blue-collar,job_entrepreneur,job_housemaid,...,month_jul,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_other,poutcome_success,poutcome_unknown
0,58,2143,5,261,1,-1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
1,44,29,5,151,1,-1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
2,33,2,5,76,1,-1,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
3,47,1506,5,92,1,-1,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1
4,33,1,5,198,1,-1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,825,17,977,3,-1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
45207,71,1729,17,456,2,-1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
45208,72,5715,17,1127,5,184,3,0,0,0,...,0,0,0,0,1,0,0,0,1,0
45209,57,668,17,508,4,-1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
45210,37,2971,17,361,2,188,11,0,1,0,...,0,0,0,0,1,0,0,1,0,0

# Dependent Variable(Y)

In [10]:
Y=df[["y_yes"]]

In [11]:
Y

       y_yes
0          0
1          0
2          0
3          0
4          0
...      ...
45206      1
45207      1
45208      1
45209      0
45210      0

[45211 rows x 1 columns]

In [12]:
Y.columns=["Output"]

In [13]:
Y

       Output
0           0
1           0
2           0
3           0
4           0
...       ...
45206       1
45207       1
45208       1
45209       0
45210       0

[45211 rows x 1 columns]

# Data Validation

# Training and testing data

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
Xtrain,xtest,Ytrain,ytest=train_test_split(X,Y,test_size=0.25,random_state=0)

In [16]:
Xtrain.shape

(33908, 42)

In [17]:
Ytrain.shape

(33908, 1)

In [18]:
xtest.shape

(11303, 42)

# Logistic Regression

In [19]:
from sklearn.linear_model import LogisticRegression

In [20]:
lr=LogisticRegression()

In [21]:
import warnings
warnings.filterwarnings("ignore")

In [22]:
lr.fit(Xtrain,Ytrain)

LogisticRegression()

In [23]:
lr.score(xtest,ytest)*100

88.6755728567637

# KNN(K-Nearest Neighbors)

In [24]:
from sklearn.neighbors import KNeighborsClassifier

In [25]:
knn=KNeighborsClassifier(n_neighbors=5,metric='euclidean')

In [26]:
knn.fit(Xtrain,Ytrain)

KNeighborsClassifier(metric='euclidean')

In [27]:
knn.score(xtest,ytest)

0.8774661594267009

# Decision Tree

In [28]:
from sklearn.tree import DecisionTreeClassifier

In [29]:
list_Criteria=["gini","entropy"]
list_splitter=["best","random"]

In [30]:
for i in list_Criteria:
    for j in list_splitter:
        print(i,j,sep=":")
        dt=DecisionTreeClassifier(criterion=i, splitter=j, max_depth=4)
        dt.fit(Xtrain,Ytrain)
        print(dt.score(xtest,ytest))
        print("*****************")

gini:best
0.8994072370167212
*****************
gini:random
0.8910023887463505
*****************
entropy:best
0.8957798814474034
*****************
entropy:random
0.8892329470052198
*****************

# SVM(Support Vector Machine)

In [31]:
from sklearn.svm import SVC

s=SVC(C=1.0,kernel='rbf',degree=3,gamma='auto')

In [37]:
s.fit(Xtrain,Ytrain)

SVC(gamma='auto')

In [38]:
s.score(xtest,ytest)

0.8826860125630364

# Random Forest

In [39]:
from sklearn.ensemble import RandomForestClassifier

In [40]:
r=RandomForestClassifier(n_estimators=10, criterion='gini', max_depth=5)

In [41]:
r.fit(Xtrain,Ytrain)

RandomForestClassifier(max_depth=5, n_estimators=10)

In [42]:
r.score(xtest,ytest)

0.8924179421392551

# Naive Bayes

In [43]:
from sklearn.naive_bayes import GaussianNB

In [44]:
n=GaussianNB()

In [45]:
n.fit(Xtrain,Ytrain)

GaussianNB()

In [46]:
n.score(xtest,ytest)

0.8629567371494293